<!DOCTYPE html>

<html>  
    <head>
        <meta charset = "utf-8">
        <meta name = "viewpoint" content = "width=device-with, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        <title>{%block title%} {%endblock%} | MyApp</title>  
    </head>
    <body>
   
        <nav class = "py-6 px-6 flex justify-between items-center border-b border-gray-200">
            <a href = "/" class = "text-xl font-semibold">MyAPP</a>
            <div class="space-x-6">
                <a href = "#" class = "text-lg font-semibold hover:text-gray-600">New Item</a>
                <a href = "#" class = "text-lg font-semibold hover:text-gray-600">Browse</a>
                <a href = "#" class = "px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-green-500">Sign In</a>
            </div>
        </nav>    
        <div class = "px-6 py-6">
            {% block content%}
            {%endblock%}
        </div>
    </body>
</html>